version: '3.8'

services:
  backend:
    build:
      context: ./Backend/odc
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    depends_on:
      - database
    environment:
      - DATABASE_HOST=database
      - DATABASE_NAME=odc
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
    restart: unless-stopped

  database:
    image: postgres:14
    container_name: database
    environment:
      POSTGRES_DB: odc
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    user: root
    restart: unless-stopped

volumes:
  postgres_data:
  jenkins_home:

